* {
    font-family: 'Mukta', sans-serif;
    font-size: 18px;
    letter-spacing: 0.18px;
    line-height: 1;
    color: #ffffff;
    font-weight: 400;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x:hidden;

}

.display_none {
    display: none !important;
}

h1 {
    font-size: 92px;
    font-weight: 800;
    text-transform: uppercase;
}

h2 {
    font-size: 56px;
    letter-spacing: 0;
    line-height: 1.2;

}
h3 {
    font-size: 40px;
    letter-spacing: 0;

}

.grid {
    display: grid;
}

.grid_columns_2 {
    grid-template-columns: repeat(2, 1fr);
}

.grid_columns_4 {
    grid-template-columns: repeat(4, 1fr);
}

.grid_columns_8 {
    grid-template-columns: repeat(8, 1fr);
}

span.bold {
    font-size: inherit;
    color: inherit;
}

.demo-icon {
    color: inherit;
    font-size: inherit;
}

button {
    color: inherit;
    background-color: inherit;
    font-size: inherit;
}

section {
    margin: 0 auto;
    /*max-width: 1920px;*/
}

.container {
    max-width: 1920px;
    width: 100%;
    margin: 0 auto;
    padding: 0 160px;
}

.container > div {
    padding: 40px;
}

.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #00000050;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal .modal_inner  {
    text-align: center;
    width: 90vw;
    height: 90vh;
}

.modal video {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}


.main {
    background-color: #727272;
    height: 100vh;
    width: 100vw;
    position: relative;
    background-image: linear-gradient(0,#00000050, #00000050), url("../assets/img/DSC05455-Bearbeitet.jpg");
    background-size: cover;
    background-repeat: no-repeat;
}


.main .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:40px;
}

.logo img{
    max-width: 140px;
    object-fit: contain;
}

.main .header_nav {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 18px;
    font-weight: 500;
}

.main .nav_item {
    white-space: nowrap;
    padding: 8px 25px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 50px;
    text-transform: uppercase;
    transition: .3s ease;
}

.main .nav_item:hover {
    /*background-color: #95AF3D;*/
    cursor: pointer;
}
.main .nav_item.active {
    background-color: #95AF3D;
}

.main .container {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.features {
    width: 100vw;
    padding-top: 100px;
    padding-bottom: 500px;
    background: linear-gradient(240deg, #30583A 0%, #00412B 100%) center no-repeat;
    position: relative;

}

.features .features_inner {
    position: relative;
}

.features .features_background_img {
    position: relative;
    /*left: 50%;*/
    right: 0;
    bottom: 0;
    /*transform: translate(-50%, 100%);*/
    overflow-y: visible;
    /*text-align: center;*/

}

.features #features_background_img {
    width: 1750px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.features .specials_list {
    position: absolute;
    top: 300px;
    display: flex;
    width: 100%;

}

.features .special_item {
    position: absolute;
    left: 0;
    right: 0;
    width: 50px;
    height: 50px;
    clip-path: inset( 0 0 0 1 );
}

.features .special_item .content {
    z-index: 10;
    background-color: #95AF3D;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
    width: 100%;
    height: 100%;
    transition: .5s ease all;
}



.features .special_item .hidden_info {
    /*z-index: -1;*/
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #ffffff;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 10px;
    height: 100%;
    color: #000000;
    white-space: nowrap;
    line-height: 1.5;
    opacity: 0;
    transform: translateX(100%);
    transition: .5s all ease;
}
.features .special_item .content:hover .hidden_info {
    border-radius: 0 50px 50px 0;
    opacity: 1;
}
.features .special_item .content:hover {
    -webkit-border-radius: 50px 0 0 50px;
    -moz-border-radius: 50px 0 0 50px;
    border-radius: 50px 0 0 50px;
    background-color: #ffffff;
}

.features .special_item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
    color: #f1f4f9;
    filter: brightness(0) invert(1);
    transition: .5s ease all;
}
.features .special_item .content:hover img{
    filter: brightness(0) invert(0);

}

.features .special_item:first-child{
    left: 3%;
}
.features .special_item:nth-child(2){
    left: 40%;
}
.features .special_item:nth-child(3) {
    left: 60%;
}
.features .special_item:last-child {
    left: 75%;
}

.features .features_header {
    display: flex;
    flex: 1 1 auto;
    gap: 50px;
    width: 100%;
    align-items: end;
}

.features .header_left {
    width: 55%;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.features .description {
    width: 80%;
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
}

.bold{
    font-weight: 600;
}
.features .header_right {
    width: 45%;
}

.features .features_list {
   /* display: flex;
    align-items: center;
    gap: 25px 35px;
    flex-wrap: wrap;*/
    grid-gap: 20px;
}

.features .features_item {
    display: flex;
    align-items: center;
    gap: 8px;
}

.features .item_icon {
    color: #95AF3D;
}

.features .item_title {
    font-weight: 600;
}

.catalog {
    margin-top: 20vh;
}

.catalog .catalog_inner {
    padding-bottom: 100px;
    border-bottom: 1px #f1f4f9 solid;
}

.catalog *{
    color: #000000;
}

.catalog .catalog_header {
    max-width: 60%;
}


.catalog .description {
    color: #7d7a83;
    font-size: 16px;
    font-weight: 100;
    line-height: 1.8;
}

.catalog .catalog_list {
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 40px;
    flex-wrap: wrap;
}

.catalog .catalog_item {
    width:350px;
    position: relative;
}

.catalog .catalog_item.active .item_front{
    transform: rotateY(180deg);
}
.catalog .catalog_item.active .item_back{
    border: 1px #cccccc solid;
    transform: rotateY(0);
}

.catalog .catalog_item .item_front{

}
.catalog .catalog_item .item_back {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transform: rotateY(180deg);

}
.catalog .catalog_item .item_front,
.catalog .catalog_item .item_back {
    border: 1px transparent solid;
    width: 100%;
    height: 100%;
    transition: .5s ease;
    backface-visibility: hidden;
}

.catalog .catalog_item .item_img {
    background: linear-gradient(0deg, rgba(243, 243, 243, 1) 50%, rgba(255, 255, 255, 1) 50%);
    padding: 20px;
    display: flex;
    align-items: end;
    justify-content: center;
    height: 400px;
}

.catalog .catalog_item img {
    object-fit: contain;
    width: 100%;
    height: 100%;
}

.catalog .catalog_item .item_content {
    position: relative;
    padding: 15px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.catalog .catalog_item .item_btn_to_back {
    width: 15px;
    height: 35px;
    background-image: url("../assets/img/svg/more.svg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.catalog .catalog_item .item_title {
    font-size: 24px;
    font-weight: 600;
}

.catalog .catalog_item .item_subtitle {
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
}

.catalog .catalog_item .item_back {
    padding: 20px;
}

.catalog .catalog_item .back_title {
    font-size: 32px;
    font-weight: 600;
}

.catalog .catalog_item .back_desc {
    font-size: 18px;
    font-weight: 100;
    line-height: 2;
    margin-top: 50px;
}

.catalog .catalog_item .back_options {
    margin-top: 50px;
    border-spacing: 20px;
    border-collapse: separate;
}

.catalog .catalog_item .option_title {
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

.catalog .catalog_item .back_item {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
}

.catalog .catalog_item .back_item:before,
.catalog .catalog_item .back_item:after{
    content:'';
    width: 20px;
    height: 2px;
    background-color: #95AF3D;
    position: absolute;
    top: 50%;
}

.catalog .catalog_item .back_item:before{
    transform: translateY(-50%) rotate(45deg);
}
.catalog .catalog_item .back_item:after{
    transform: translateY(-50%) rotate(-45deg);

}


.works * {
    color: #7d7a83;
}

.works .title {
    text-align: center;
}
.works .title{
    color: #26262c;
}

.works .subtitle {
    width: 60%;
    text-align: center;
    margin: 30px auto 0;
    font-size: 18px;
    line-height: 1.6;
}

.works .work_list {
    margin-top: 90px;
}

.works .work_item.content {
    background-color: #f3f3f3;
    padding: 80px;
    height: 440px;
}
.works .work_item.item_controls {
    height: 440px;
}

.works .work_item .item_title{
    font-size: 32px;
    font-weight: 600;
    color: #26262c;
}
.works .work_item .item_subtitle {
    margin-top: 30px;
    line-height: 1.6;
    font-size: 16px;
    color: #7D7A83;
}

.works .work_item.grid > div {
    background-color: #030A14;
    transition: .3s ease;
    position: relative;
}

.works .work_item.grid > div:hover{
    background-color: #1d2935;
}

.works .work_item.grid > div button {
    position: absolute;
    right: 30px;
    top: 50%;
    transform: translateY(-50%) rotateY(180deg);
    backface-visibility: hidden;
    transition: .3s ease;

    width: 50px;
    height: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 15px;

    background-color: #95af3d;
    border: none;
    outline: none;
}

.works .work_item.grid > div.func_btn_left button {
    right: unset;
    left: 30px;
}

.works .work_item.grid > div:hover button {
    transform: translateY(-50%);
}

.consultation {
    height: 100vh;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.consultation * {
    color: #26262c;
}

.consultation .consultation_inner {
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.consultation .consultation_header {
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: center;
}

.consultation .title {
    text-align: center;
}

.consultation .subtitle {
    font-size: 18px;
    font-weight: 100;
    color: #7d7a83;
    line-height: 1.6;
    width: 70%;
    text-align: center;
}

.consultation .join_btn {
    margin-top: 10px;
}
 .btn button{
    background-color: #95af3d;
    text-align: center;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    padding: 8px 40px;
    border: none;
    font-size: 16px;
    font-weight: 600;

}

.consultation .products_img {
    width: 100%;
}

.consultation .products_img img {
    width: 100%;
}

.consultation .product_list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.consultation .product_item {
    height: 70vh;
}
.consultation .product_item img {
    height: 100%;
    width: 110%;
    object-fit: cover;
    object-position: top;
}

.exp {
    position: relative;
    background-color: #26262c;
}

.exp .box_shadow.top {
    position: absolute;
    left: 0;
    right: 0;
    top: 10px;
    transform: translateY(-100%);

    height: 20vh;
    background: linear-gradient(0deg, rgb(38, 38, 44) 0%, rgba(38, 38, 44, 0.953) 24%, rgba(38, 38, 44, 0.827) 45%, rgba(38, 38, 44, 0.71) 62%, rgba(38, 38, 44, 0.57) 76%, rgba(38, 38, 44, 0) 100%);
}

.exp .title {
    width: 70%;
    position: absolute;
    left: 5px;
    top: 100px;
    font-size: 174px;
    font-weight: 600;
}

.exp .content {
    margin-top: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    height: 100%;
}

.exp .exp_video {
    max-width: 1050px;
    max-height: 600px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #000000;
    mix-blend-mode: difference;
}

.exp video {
    max-width: 1050px;
    max-height: 600px;
    width: 100%;
}

.exp .exp_desc {
    font-size: 24px;
    line-height: 1.6;
    font-weight: 100;
    width: 25%;
}

.location {
    background-color: #26262c;
}

.location .location_inner {
    /*height: 700px;*/

    grid-gap: 50px;
}

.location .title {
    font-size: 56px;
    line-height: 1.2;
}

.location .desc {
    font-size: 16px;
    font-weight: 100;
    line-height: 2;
    margin-top: 20px;
}

.location .loc_btn  {
    margin-top: 50px;
    color: #26262c;
}

.location .map {
    background-color: #000000;
    height: 700px;
}

.about * {
    color: #26262c;
}

.about .about_inner {
    display: flex;
    align-items: center;
    gap: 80px;
}

.about .content_left {
    height: 600px;
    width: 800px;
}
.about .content_left img {
    height: 600px;
    width: 800px;
    object-fit: cover;
}

.about .content_right {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.about .title {
    width: 50%;
}

.about .desc {
    font-weight: 100;
    font-size: 16px;
    color: #7d7a83;
    line-height: 2;
    width: 70%;
}

.about .join_btn i {
    color: #ffffff;
}
.about .join_btn button{
    background-color: #26262c;
    -webkit-border-radius: 22px;
    -moz-border-radius: 22px;
    border-radius: 22px;
    color: #ffffff;
}

.footer {
    padding: 40px;
    background-color: #00412b;
}

.footer .footer_inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
}

.footer .content_left {
    display: flex;
    gap: 60px;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}

.footer .content {
    font-size: 36px;
    font-weight: 600;
}
.footer .title  {
    font-weight: 600;
}

.footer .join_btn button{
    background-color: transparent;
    font-size: 36px;
    padding: 0;
    text-decoration: underline;
}

.footer .join_btn .demo-icon {
    font-size: 36px;
}

.footer .content_right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.footer .social_list {
    display: flex;
    gap: 50px;
    align-items: center;
}

.footer .social_item {
    font-size: 40px;
}

.footer .link_list {
    display: flex;
    align-items: center;
}

.footer .link_item{
    white-space: nowrap;
}

.footer .link_item + .link_item {
    border-left: 1px #ccc solid;
}



























